header {
    background-image: url(./Media/Backgroung-Image.png);
    background-repeat: no-repeat;
    background-size: cover; 
}

body {
    background-image: url(./Media/Backgroung-Image-Main.png);
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    margin: 0%;
}

.navbar-brand {
    width: 20%;
}

ul {
    list-style-type: none;
}

.accordion-button:hover {
    background-color: aquamarine;
}

.accordion {
    width: 40%;
}

@media screen and (max-width: 700px) {
    
    .accordion {
        width: 70%;
    }
    
}